--- --- @import "{{ site.theme }}";

#container {
    max-width: 900px;
}

body {
    font-size: 18px;
    line-height: 1.7;
}

h1,
h2,
h3 {
    letter-spacing: 0.2px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}